@import url('https://fonts.googleapis.com/css2?family=Sono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.sono{
    font-family: 'Sono', sans-serif;
}

.roboto_slab{
    font-family: 'Roboto Slab', serif;
}

@media only screen and (max-width : 900px) {
    .left{
        display: none !important
    }
}

@media only screen and (max-width : 600px) {
    .right{
        flex-direction: column;
        width: 90%;
    }
}